<% set_title(t('group.discussion.edit.title', :id => @group.id, :title => @group.title)) %>
<%= render :partial =>  'groups/heading' %>
<%= stylesheet_link_tag "groups" %>

<% content_for :heading do %>
  <h2><%= t('group.discussion.edit.head') %></h2>
<% end %>

<%= render :partial => 'form' %>