<% set_title(t('group.discussion.edit.title', :title => @group.title)) %>
<%= render :partial =>  'groups/heading' %>
<%= stylesheet_link_tag "groups" %>

<% content_for :heading do %>
  <h2>Edit comment</h2>
<% end %>

<%= render :partial => 'form' %>