<% if @user.groups.include?(group) %>
  <li><%= link_to t('group.leave.action'), leave_group_path(group), :method => :post, :data => { :confirm => t('group.leave.confirm', :title => group.title) } %></li>
<% end %>
