/*
 *= require dataTables/jquery.dataTables
 */
input[type="search"] {
  border: 2px inset;
}
div#all_users {
}

div#all_users_container {
  padding: 1.5em;
  background: #eeeeee;
  width: 85%;
  margin-top: 2em;
}

div.preset_json{
  position: relative;
  width: 60%;
  float: right;
}

ul.indented {
  margin-left: 2em;
}

.field_li { padding: 2px; margin:1px; background: #eee; width:60% }

.field_li .field_label { display:inline-block; width:160px; margin-left:5px; }

.field_li .field_protect { display:inline-block; }

div.search{
  margin-bottom: 1em;
}

div.group_comment_body {
  clear: both;
}

div.group_comment_body h4 {
  font-size: larger;
}

div.group_buttons {
  min-width: 200px;
}

div.group_buttons input[type="submit"] {
  float: left;
  margin-right: 0.5em;
  min-width: 6px;
  min-height: 12px;
  padding: 3px 8px;
  line-height: 17px;
  font-size: smaller;
}

div.group_comment_body span.comment_title{
  font-weight: bold;
}

div.comment-dem {
  font-size: smaller;
}
div.comment-dem a {
  color:#999;
}
div.parent{
  padding-bottom: 2em;
}

div#diary-container li.comment{
  padding-bottom: 1em;
}
div.comment_pagination{
  clear: both;
}

img.group_image {
  vertical-align: middle;
}