/*
 *= require dataTables/jquery.dataTables
 */
input[type="search"] {
  border: 2px inset;
}
div#all_users {
}

div#all_users_container {
  padding: 1.5em;
  background: #eeeeee;
  width: 85%;
  margin-top: 2em;
}

div.preset_json{
  position: relative;
  width: 60%;
  float: right;
}

ul.indented {
  margin-left: 2em;
}

.field_li { padding: 2px; margin:1px; background: #eee; width:60% }

.field_li .field_label { display:inline-block; width:160px; margin-left:5px; }

.field_li .field_protect { display:inline-block; }