/*
 *= require story_editor
 */
// {{{ ICOMOON
@font-face {
  font-family: 'icomoon';
  src:url('icons/icomoon.eot?psco1e');
  src:url('icons/icomoon.eot?#iefixpsco1e') format('embedded-opentype'),
    url('icons/icomoon.woff?psco1e') format('woff'),
    url('icons/icomoon.ttf?psco1e') format('truetype'),
    url('icons/icomoon.svg?psco1e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
// }}} ICOMOON
// {{{ LEAFLET OVERRIDES
input[type="checkbox"].leaflet-control-layers-selector, input[type="radio"].leaflet-control-layers-selector {
  float: left;
  margin-top: 0px !important;
}
// }}} LEAFLET OVERRIDES
// {{{ SIMPLEMODAL
#simplemodal-overlay {
  background-color: #000;
}
// {{{ SIMPLEMODAL - CONTAINER
#simplemodal-container {
  height: 500px;
  width: 700px;
  color: #bbb;
  background-color: #333;
  border: 4px solid #444;
  padding: 12px;
}
#simplemodal-container .simplemodal-data {
  padding: 8px;
}
#simplemodal-container code {
  background: #141414;
  border-left: 3px solid #65B43D;
  color: #bbb;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}
#simplemodal-container a {
  color: #ddd;
}
#simplemodal-container a.modalCloseImg {
  background: url(/assets/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}
#simplemodal-container h3 {
  color: #84b8d9;
}
// }}} SIMPLEMODAL - CONTAINER
// }}} SIMPLEMODAL
// {{{ LINKS MAP
#initial_map, #links_map {
  width: 100%;
  height: 50em;
}
#links_map {
  width: 100%;
  height: 430px;
}
#links_map_box {
  display: none;
}
// }}} LINKS MAP
// {{{ STORY
#story_link_template, #section_link_template {
  display: none;
}
.form-section {
  padding: 10px;
}
.form-section:after {
  content: ' ';
  display: block;
  margin-top: 30px;
  height: 1px;
  background-color: #ccc;
  background: -moz-linear-gradient(45deg, #f9f9f9, #ccc, #f9f9f9);
  background: -webkit-linear-gradient(45deg, #f9f9f9, #ccc, #f9f9f9);
  background: -ms-linear-gradient(45deg, #f9f9f9, #ccc, #f9f9f9);
  background: linear-gradient(45deg, #f9f9f9, #ccc, #f9f9f9);
}
.form-hidden {
  display: none;
}
.form-section h1 {
  margin-left: -8px;
  font-size: 2.3em;
}
.form-column-half {
  position: relative;
  width: 50%;
  margin-right: 0;
  padding-right: 20px;
}
.form-section .form-column-half {
  @extend .form-column-half;
}
select.field_with_errors {
  border: 2px solid #ff7070;
}
.story_form input.background_url {
  width: 450px
}
// }}} STORY
// {{{ STORY - TILESETS
.layers {
  list-style-type: none;
  border: 1px solid #eee;
  width: 100%;
  min-height: 140px;
  overflow: auto;
}
.layer {
  float: left;
  position: relative;
  margin: 5px;
  padding: 5px;
  width: 128px;
  height: 128px;
  background: #eee;
  cursor: move;
}
#tiles-available .layer:after {
  content: '▽';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  opacity: 0.5;
}
.layer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layer img {
  position: absolute;
  top: 0;
  left: 0;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
input[type=button].set_link {
  display: block;
  margin-top: 5px;
  width: 50px;
  min-width: 50px;
}
// }}} STORY - TILESETS
// {{{ STORY - SECTIONS
.sections {
  margin-bottom: 25px;
}
// }}} STORY - SECTIONS
// {{{ STORY - SECTION
.section {
  margin: 10px 0 30px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px;
}
.section h2 {
  font-size: 1.5em;
}
.section .form-column-link, .section .form-column-image {
  @extend .form-column-half;
}
input.delete_section_button, input.delete_link_button{
  min-width: 60px;
  float: right;
}
input.link_input {
  width: 100%;
  background-color: gainsboro;
  color: dimgray;
}
.section input[type=button].set_link {
  margin-top: 15px;
}
// }}} STORY - SECTION
// {{{ STORY - SECTION IMAGE
.form-image-wrapper, .form-image {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}
.form-image {
  border: none;
}
.report-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.01;
}
.report-image-status {
  display: none;
  margin-left: 15px;
  font-weight: normal;
  font-style: italic;
}
.report-image-status:before {
  content: '—';
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}
.uploading .report-image-status {
  display: inline-block;
}
.report-image-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 100%;
}
.form-column-image-empty .report-image-preview {
  display: none;
}
.form-column-image-empty .form-image:after {
  content: '\e60b';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'icomoon';
  font-size: 3em;
  line-height: 100px;
  text-align: center;
  color: #00adee;
  opacity: 0.5;
}
.form-column-image .form-image-remove {
  margin-left: 15px;
  font-weight: normal;
}
.form-column-image-empty .form-image-remove, .uploading .form-image-remove {
  display: none;
}
.form-column-image-undo .form-image-remove {
  display: inline-block;
}
#preview_image_box {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#preview_image_box.simplemodal-data {
  padding: 0;
}
#preview_image_box img {
  max-width: 100%;
}
// }}} STORY - SECTION IMAGE
// {{{ EDITOR
.editor-wrapper {
  max-width: 100%;
  overflow-x: hidden;
}
.editor-toolbar a {
  color: #00adee;
}
// }}} EDITOR
// {{{ EDITOR - ICONS
a[class^="icon-"], a[class^="icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 22px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-image:before {
  content: "\e600";
}
.icon-undo:before {
  content: "\e601";
}
.icon-redo:before {
  content: "\e602";
}
.icon-quote:before {
  content: "\e603";
}
.icon-unordered-list:before {
  content: "\e604";
}
.icon-ordered-list:before {
  content: "\e605";
}
.icon-link:before {
  content: "\e606";
}
.icon-info:before {
  content: "\e609";
}
.icon-plus:before {
  content: "\e60b";
}
.icon-bold:before {
  content: "\e607";
}
.icon-italic:before {
  content: "\e608";
}
.icon-preview:before {
  content: "\e60a";
}
// }}} EDITOR - ICONS
// {{{ EDITOR - CODEMIRROR
// These override styles in story_editor.scss
.CodeMirror-focused .CodeMirror-selected {
  background: #b0e0f4;
}
// Remove these lines to make the editors fixed height
.CodeMirror {
  height: auto;
  min-height: 250px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 250px;
}
// End - Remove these lines to make the editors fixed height
// }}} EDITOR - CODEMIRROR
// {{{ EDITOR - PREVIEW
.editor-preview li {
  margin: 0 0 0 30px;
}
.editor-preview ul li {
  list-style-type: disc;
}
.editor-preview ol li {
  list-style-type: decimal;
}
// }}} EDITOR - PREVIEW
