<header class="header nav fill-gray strongline-bottom contain caps noprint">
    <div class="row1 clearfix limiter">
        <a class="left-bar fl clearfix center" href="rdc.moabi.org/en">
            <div class="logo-icon"></div>
            <div class="logo-text beta">Moabi DRC</div>
        </a>

        <ul class="right-bar fr clearfix">

            <li class="dropdown pad1 fr">
                <a class="rcon plus2" href="#">More</a>
                <ul class="pad1x fill-gray keyline-all strongline-top">
                    <li class="pad1y keyline-bottom">
                        <a href="{{site.baseurl}}/the-initiative/{{page.language}}" class="">About</a>
                    </li>
                    <li class="pad1y keyline-bottom">
                        <a href="{{site.baseurl}}/blog/{{page.language}}" class="">Blog</a>
                    </li>
                    <li class="pad1y ">
                        <a href="{{site.baseurl}}/using-moabi/{{page.language}}" class="">Guides</a>
                    </li>
                </ul>
            </li>

            <li class="pad1 fr">
                <a class="" href="{{site.baseurl}}/data/{{page.language}}">Maps</a>
            </li>


            <li class="pad1 fr">
                <a class="" href="{{site.baseurl}}/reports/{{page.language}}">Reports</a>
            </li>
        </ul>

    </div>
</header>
